# Virtual environments
.venv/
venv/
env/
ENV/
conda-env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Raw and processed data files
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Local editor settings
.vscode/
